@import "src/style/variables";
@import "src/style/colors";

.body {
  display: flex;

  @media (min-width: $md) {
    padding: 2em 2em 0 2em;
  }

  @media (min-width: $lg) {
    padding: 2em 8em 0 8em;
  }

  @media (min-width: $xl) {
    width: 75%;
    margin: auto;
  }

  @media (max-width: $md) {
    padding: 1em 1em 0 1em;
    flex-direction: column;
    position: sticky;
  }
}

main {
  flex: 75%;
}

.searchbox_container {
  position: sticky;
  top: 0;
  align-self: start;
  background: white;
}

aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: start;
  flex: 25%;
  padding-bottom: 1em;

  h1 {
    text-decoration: underline wavy $yellow;
    text-underline-offset: 1px;
  }
}
